{% load static %}

<link rel="stylesheet" href="{% static 'seller/css/sidebar.css' %}">

<div class="col-md-3">
    <div class="sidebar">

        <div class="sidebar-title">SELLER PANEL</div>

        <a href="{% url 'dashboard' %}"
           class="{% if '/overal_view/' in request.path %}active{% endif %}">
            <i class="fa-solid fa-chart-line"></i>
            Dashboard
        </a>

        <a href="{% url 'detail_view' %}"
           class="{% if '/detail_view/' in request.path %}active{% endif %}">
            <i class="fa-solid fa-car"></i>
            Car Listings
        </a>

        <a href="{% url 'sold_car_view' %}"
           class="{% if '/sold_car_view/' in request.path %}active{% endif %}">
            <i class="fa-solid fa-car"></i>
            Sold Cars
        </a>

        <a href="{% url 'uploded_image_view' %}"
           class="{% if '/uploded_image_view/' in request.path %}active{% endif %}">
            <i class="fa-solid fa-image"></i>
            Images
        </a>

    </div>
</div>