{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'seller/css/sold_car_view.css' %}">


<div class="row dashboard-container">
    <!-- SIDEBAR -->
    {% include "seller/dashboard/sidebar.html" %}

    <!-- MAIN CONTENT -->
    <div class="col-md-9">

        <!-- HEADER -->
        <div class="page-header">
            <h3>Sold Cars</h3>
            <span>Total: {{ cars|length }}</span>
        </div>

        {% if cars %}
        <div class="row g-4">

            {% for car in cars %}
            <div class="col-md-4">
                <div class="car-card">

                    <!-- IMAGE -->
                    <div class="car-img">
                        {% with car.images.all|first as first_image %}
                        {% if first_image and first_image.car_image %}
                            <img src="{{ first_image.car_image.url }}" alt="car">
                        {% else %}
                            <img src="https://via.placeholder.com/300x200" alt="car">
                        {% endif %}
                        {% endwith %}

                        <span class="badge-sold">Sold</span>
                    </div>

                    <!-- BODY -->
                    <div class="car-body">
                        <div class="car-title">
                            {{ car.brand }} {{ car.model }}
                        </div>

                        <div class="car-price">
                            ₹ {{ car.price }}
                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}

        </div>

        {% else %}
        <div class="empty-box">
            <i class="fa-solid fa-car" style="font-size:30px;"></i>
            <p>No sold cars yet</p>
        </div>
        {% endif %}

    </div>
</div>

{% endblock %}