{% extends "base_of_otp.html" %}
{% block content %}

<div class="auth-card">

  <h4 class="text-center mb-2">Verify OTP</h4>
  <p class="text-center text-muted">
    Enter the 6-digit code sent to your email
  </p>

  {% if error %}
  <div class="alert alert-danger d-flex align-items-center" role="alert">
    <div>
      <strong>Error:</strong> {{ error }}
    </div>
  </div>
  {% endif %}

  <form method="POST">
    {% csrf_token %}

    <div class="otp-container">
      <input type="text" maxlength="1" class="otp-input">
      <input type="text" maxlength="1" class="otp-input">
      <input type="text" maxlength="1" class="otp-input">
      <input type="text" maxlength="1" class="otp-input">
      <input type="text" maxlength="1" class="otp-input">
      <input type="text" maxlength="1" class="otp-input">
    </div>

    <input type="hidden" name="otp" id="otp-value">

    <button type="submit" class="btn btn-primary w-100 mt-4">
      Verify OTP
    </button>
  </form>

  <div class="text-center mt-2">
      <a href="{% url 'resend_otp' %}" class="btn btn-warning">
        Resend OTP
      </a>
  </div>

</div>

<style>
.otp-container{
  display:flex;
  justify-content:center;
  gap:10px;
  margin-top:20px;
}
.otp-input{
  width:45px;
  height:50px;
  font-size:22px;
  text-align:center;
  border:1px solid #ced4da;
  border-radius:8px;
}
.otp-input:focus{
  border-color:#0d6efd;
  outline:none;
  box-shadow:0 0 5px rgba(13,110,253,.3);
}
</style>

{% endblock %}
