{% extends "base_of_otp.html" %}

{% block content %}

<div class="auth-card">

  <h4 class="title text-center">Forgot Password</h4>
  <p class="subtitle text-center">
    Enter your registered email and we will send you an OTP.
  </p>

  <!-- Error message -->
    {% if error_messages %}
<div class="alert alert-danger d-flex align-items-center" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Error:">
    <use xlink:href="#exclamation-triangle-fill"/>
  </svg>
  <div>
    <strong>Error:</strong> {{ error_messages }}
  </div>
</div>
{% endif %}

 {% if error %}
<div class="alert alert-danger d-flex align-items-center" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Error:">
    <use xlink:href="#exclamation-triangle-fill"/>
  </svg>
  <div>
    <strong>Error:</strong> {{ error }}
  </div>
</div>
{% endif %}

  <!-- Forgot Password Form -->
  <form method="POST">
    {% csrf_token %}

    <div class="mb-3">
      <label class="form-label">Email Address</label>
      <input type="email"
             name="email"
             class="form-control"
             placeholder="Enter your email"
             required>
    </div>

    <!-- Submit button -->
    <div class="d-grid mt-3">
      <button type="submit" class="btn btn-primary">
        Send OTP
      </button>
    </div>
  </form>

  <div class="text-center mt-3">
    <a href="{% url 'login' %}" class="text-decoration-none">
      Back to Login
    </a>
  </div>

</div>

{% endblock %}