{% extends "base_of_otp.html" %}

{% block content %}

<div class="auth-card">

<h4 class="title text-center">Reset Password</h4>

<p class="subtitle text-center">
Enter your new password below.
</p>

{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}

<form method="POST">

{% csrf_token %}

<div class="mb-3">

<label class="form-label">New Password</label>

<input type="password"
name="password"
class="form-control"
required>

</div>

<div class="mb-3">

<label class="form-label">Confirm Password</label>

<input type="password"
name="confirm_password"
class="form-control"
required>

</div>

<button type="submit" class="btn btn-primary btn-main">
Update Password
</button>

</form>

</div>

{% endblock %}