/* stylelint-disable selector-list-comma-newline-after */

/* ===== HEADER ===== */
.home-header {
  border-bottom: 1px solid #e5e5e5;
}

.home-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.home-header-logo:hover {
  text-decoration: none;
}

/* ===== HEADINGS ===== */
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

/* ===== HERO TITLE ===== */
.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

/* ===== UTILITIES ===== */
.flex-auto { flex: 0 0 auto; }

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* ===== HOME CONTENT SECTIONS ===== */
.home-section {
  margin-bottom: 4rem;
}

.section-title {
  font-size: 2.5rem;
}

.section-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

/* ===== FOOTER ===== */
.car-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}

.car-footer p:last-child {
  margin-bottom: 0;
}
